<h1 class="text-center mt-3"><%= @list.name %></h1>
<div class= "text-right m-3">
<%= link_to "Add a Movie to your list", new_list_bookmark_path(@list), class:"btn btn-primary m-3 text-right" %>
<%= link_to 'delete this list', list_path(@list), method: :delete, class: 'btn btn-danger text-right', data: { confirm: 'Are you sure you want to delete this list?' } %>
</div>
<div class="lists-card-grid my-3 container">
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="card-product">
      <img src=  <%= movie.poster_url %> />
        <div class="card-product-infos">
          <h2> <%= link_to movie.title, list_movie_path(@list, movie) %></h2>
          <%= link_to 'delete this movie', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
          <p><%= bookmark.comment %> </p>
          <p> Rating: <%= movie.rating %> </p>
        </div>
    </div>  
  <% end %>
</div>

